version: "3.9"

services:
  # 1. Jenkins
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock # 호스트의 Docker 소켓 마운트
    networks:
      - app-network

    # 2. Caddy (리버스 프록시 + SSL)
  caddy:
    image: caddy:latest
    container_name: caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data # SSL 인증서 저장 경로
      - caddy_config:/config
    networks:
      - app-network

volumes:
  jenkins_home:
  caddy_data:
  caddy_config:

networks:
  app-network:
    driver: bridge
